#wrapper {
  margin-top: 35px;
}

#main_header {
  margin-left: 45px;
}

#instructions {
  margin-left: 50px;
}

#user-form,
#gantt-container {
  display: inline-block;
}

#user-form {
  vertical-align: top;
  margin-top: 70px;
  margin-left: 50px;
}

#gantt-container {
  margin-top: 45px;
}
