#wrapper {
  margin-top: 35px;
}

#main_header {
  margin-left: 45px;
}

#instructions {
  margin-left: 50px;
}

#user_form,
#gantt_container {
  display: inline-block;
}

#user_form {
  vertical-align: top;
  margin-top: 70px;
  margin-left: 50px;
}

#gantt_container {
  margin-top: 45px;
}
